{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "browsers": [">0.3%", "not ie 11", "not dead", "not op_mini all"]
          },
          "useBuiltIns": "usage",
          "corejs": 3,
          "loose": true,
          "bugfixes": true
        },
        "transform-runtime": {
          "corejs": 3
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic"
      }
    ],
    [
      "babel-plugin-transform-remove-console",
      {
        "exclude": ["error", "warn", "info"]
      }
    ],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": true }]
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", { "removeImport": true }]
      ]
    },
    "development": {
      "plugins": [
        "react-refresh/babel"
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "targets": {
                "node": "current"
              }
            }
          }
        ]
      ]
    }
  }
}
