{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-transform-remove-console",
      {
        "exclude": ["error", "warn", "info"]
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", { "removeImport": true }]
      ]
    },
    "development": {
      "plugins": [
        "react-refresh/babel"
      ]
    }
  }
}
